<div class="flex flex--justify-center form-container">
  <div class="flex flex--justify-center flex--align-center flex--col temp">
    <div class="brand">
      <h3 class="brand__text">YouSplash</h3>
    </div>
    <form [formGroup]="loginForm" class="flex flex--col app-form">
      <div class="flex flex--col">
        <mat-form-field appearance="outline">
          <mat-label>username</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input matInput formControlName="password" type="password" />
        </mat-form-field>

        <mat-error *ngIf="errorMessage">
          {{ errorMessage }}
        </mat-error>
      </div>
      <button
        mat-flat-button
        color="primary"
        type="submit"
        (click)="handleSubmit($event)"
        [disabled]="!loginForm.valid"
        data-test-id="login-btn"
      >
        Login
      </button>
    </form>
  </div>
</div>
