<h2 mat-dialog-title>Terms and Conditions</h2>
<mat-dialog-content>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris bibendum augue turpis, in
    sollicitudin risus pretium in. Donec convallis diam tristique libero molestie, sed facilisis
    felis placerat. Morbi accumsan, augue non dictum feugiat, dui felis sollicitudin nunc, vitae
    vulputate orci ligula eu felis. Donec viverra augue eu lectus congue pulvinar. Nullam id arcu
    vitae lorem vulputate convallis. Integer dolor quam, facilisis ac lacus nec, aliquam scelerisque
    tortor. In convallis dapibus sapien in volutpat. Vivamus interdum purus in turpis imperdiet, vel
    malesuada dolor vehicula. Nunc mi orci, commodo at nibh eleifend, facilisis hendrerit nulla.
    Aliquam nulla lacus, maximus sit amet ornare iaculis, lacinia non neque. Cras ut fringilla eros,
    quis ornare nisl.
  </p>

  <p>
    Nulla dapibus non nisi sed malesuada. Curabitur sagittis dolor erat, ullamcorper rhoncus est
    finibus et. Morbi iaculis nisl id dui eleifend porttitor. Nullam et justo eget nunc suscipit
    egestas. Donec id mollis ligula. Praesent vitae aliquam eros, vel faucibus arcu. Fusce
    sollicitudin, dui sed ultricies blandit, turpis erat accumsan sapien, sit amet hendrerit orci
    dui id eros. Quisque pretium posuere ipsum, in sollicitudin justo interdum sit amet. Nunc
    egestas finibus ultricies. Suspendisse faucibus ipsum id dignissim ultrices. Pellentesque
    scelerisque, nisl eget maximus tristique, dui elit vestibulum odio, a ultricies augue velit sit
    amet velit.
  </p>

  <p>
    Pellentesque convallis tempor tortor, vel consectetur eros lacinia vel. Donec euismod nibh nibh,
    et maximus ante vestibulum eu. Nulla efficitur tellus et erat porta molestie. Fusce ullamcorper
    tellus ex, at blandit quam volutpat ut. Etiam quis odio non augue lacinia luctus in vitae
    libero. Sed eget nulla accumsan, vehicula tortor vel, sollicitudin augue. Donec iaculis eros in
    enim pellentesque, a tincidunt purus dictum. Sed euismod hendrerit porttitor. Maecenas eu sem ac
    nunc aliquet accumsan. Vivamus scelerisque scelerisque rutrum. Mauris in magna et nibh ultrices
    condimentum ut sed arcu. Curabitur auctor eget nibh non pulvinar. Suspendisse eget risus sit
    amet nulla porttitor porta sed non lectus. Proin eget tortor quis odio auctor luctus.
  </p>

  <p>
    Sed eget arcu in enim efficitur luctus. Suspendisse quis augue sagittis, molestie est non,
    efficitur tortor. Vestibulum eleifend tortor augue, at interdum enim tempor ac. Maecenas non
    libero lectus. Sed vehicula nunc eget turpis finibus dignissim. Nullam ante eros, consequat a
    ultricies a, aliquam quis nunc. Fusce sagittis vehicula egestas. Integer rhoncus imperdiet
    massa, eu elementum velit viverra eget. Phasellus ut blandit elit, et aliquet quam. Nulla at
    blandit orci. Pellentesque auctor dignissim nunc, in malesuada nisl condimentum et. Quisque vel
    feugiat neque. Morbi tellus libero, malesuada at tellus id, venenatis ullamcorper ante.
    Pellentesque tincidunt in ligula sed mattis.
  </p>

  <p>
    Nam bibendum vehicula convallis. Suspendisse ornare leo sit amet posuere ultrices. Praesent non
    eros malesuada, rhoncus tortor at, tempor elit. Sed dictum elit vitae urna mattis, id bibendum
    urna ornare. Nullam vitae ornare diam, in ornare dolor. Donec sit amet felis nec nisi tincidunt
    egestas. Proin dignissim finibus magna eu sagittis. Duis eu elit in enim facilisis mattis.
    Praesent auctor elementum fermentum.
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-flat-button [mat-dialog-close] color="warn">Close</button>
  <button mat-flat-button [mat-dialog-close] color="primary">Accept</button>
</mat-dialog-actions>
