/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

.flex {
  display: flex;
  &--justify-center {
    justify-content: center;
  }

  &--align-center {
    align-items: center;
  }

  &--col {
    flex-direction: column;
  }

  &--justify-between {
    justify-content: space-between;
  }
}

.brand {
  text-align: center;
  &__text {
    font-weight: 600 !important;
    font-size: 1.5rem !important;
  }
}
