<h2 mat-dialog-title>Are you still with us?</h2>
<mat-dialog-content>
  <p>
    If you are, your session will expire in {{ timeLeft | formatTime }} and you must refresh it
    before that happens
  </p>
</mat-dialog-content>
<mat-dialog-actions>
  <button
    mat-flat-button
    mat-button
    color="primary"
    [mat-dialog-close]
    (click)="handleRefreshSession()"
  >
    Refresh Session
  </button>
  <button mat-flat-button mat-button color="warn" [mat-dialog-close]>Logout</button>
</mat-dialog-actions>
